* {
    margin: 0;
    padding: 0;
}

.item-contDetail { 
    display: flex;     
    justify-content: space-between;   
    align-items:center;   
    padding: 2rem;
    margin: 1rem;
    background-color: rgb(153, 153, 153);
}


@media only screen and (max-width: 768px){
    .item-contDetail {
        background-color: black;
        display: block;        
        align-items: center;        
    }    
}

.p-itemDetail{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px){
    .p-itemDetail {
        color: white;        
    }    
}

.h2-ID{
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
}

.img-ID{  
    border: 2px solid black;
    border-radius: 5em;
    width: 50rem;
    height: 20rem;    
    overflow: hidden;   
}