* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(129, 129, 129);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 768px){
    nav {
        background-color: rgb(100, 100, 100);
        display: block;        
        align-items: center;        
    }    
}

.titulo {
    color: rgb(0, 0, 0);
    padding: 1rem;
}

.lista {
    padding: 1rem;
    display: flex;   
}

.lista li {
    margin: 1rem;
    padding: 0 1rem;
    background-color: rgb(75, 106, 243);
    list-style: none;
}

.lista li a {   
    color: rgb(0, 0, 0);
    text-decoration: none;
}